---
import Layout from "../layouts/Layout.astro";

import floralS from "../img/floral-s.png";
import { Image } from "astro:assets";

const url = Astro.url.origin;
---

<Layout title="About - Samantha Whelpley">
  <section class="about-info">
    <div class="content">
      <Image id="about-pic" src={floralS} alt="S made out of flowers" />
      <h1>Hi! Call me Sam.</h1>
      <p>
        I graduated from the University of Pittsburgh in 2021 with a degree in
        Information Science. Still located in Pittsburgh, I currently work at
        VISIMO as a software developer, contributing to a variety of projects
        using React and building wireframes with Figma.
      </p>
      <p>
        Some of my first web programming projects were completed when studying
        abroad during the summer of 2019, but I also interned with two
        Pittsburgh web design agencies during college, <a
          class="responsival"
          href="https://www.responsival.com/">Responsival</a
        >
        and <a class="redtree" href="https://redtreewebdesign.com/"
          >RedTree Web Design</a
        >.
      </p>
      <p>
        I am passionate about the design and development process and
        understanding the people behind technological solutions. My primary
        skills are in frontend development using React and React Native. At the
        same time, I am always improving my backend skills, primarily with
        Python and Django.
      </p>
      <p>
        My strengths lie in determining and executing technical requirements
        based on user needs. Additionally, I am detail-oriented, which benefits
        my contributions to project planning and debugging. In my current
        position, I am the lead software developer, so I help manage budgets and
        determine the tasks and staffing across the variety of projects. I am
        also technical leads of indiivdual projects, where I contribute to
        client communication, project management, and overall guiding the
        direction of the software side of the project. Depending on the project,
        I also interact with Data Scientists to translate requirements in order
        to integrate the software with the AI/ML components.
      </p>
      <p>
        Working on a small team with limited other frontend developers has
        showcased my ability to solve complex problems, and plan and execute
        internal initiatives for the benefit of the development process. When I
        first began working at VISIMO, we created our projects using Create
        React App, but in 2023, I took the opportunity to update the frontend
        project templates to use Vite. When one of our Army projects required
        unit test coverage, I lead the initiative to learn and implement testing
        on that project, and incrementally add it to our other projects.
        Originally I used Jest, but now with Vite, we use Vitest. Due to this
        work, we have added unit testing as a part of the development process
        whether there are external requirements or not. I was also the developer
        that first suggested using Progressive Web Applications (PWAs) instead
        of depending on native applications for offline-first projects. I now
        have strong knowledge of PWAs and use the Redux Offline package to
        create applications that work smoothly offline, which is a valuable
        selling point for many of our projects - I've worked on 3 PWAs in the
        past year.
      </p>
    </div>
    <div class="call-out">
      <h3>I specialize in:</h3>
      <p>Frontend development with React and React Native</p>
      <p>Progressive Web Applications (PWAs)</p>
      <p>Wireframing using Figma</p>
    </div>
    <div class="fun-facts content">
      <h3>Fun Facts:</h3>
      <p>
        ✈️ Originally from the Lake Erie shores in Ohio and current
        Pittsburgher, I love traveling to new places and discovering new things.
        I enjoy exploring National Parks (see my project <a
          href={`${url}/portfolio/explore`}>Explore National Parks</a
        >) and spent six weeks in South Africa the summer of 2019.
      </p>
      <p>
        🎶 Outside of school and work, band is my pastime. I played piccolo in
        the Pitt Band all four years of college, but I have played flute for
        over ten years.
      </p>
    </div>

    <!-- https://www.frontendmentor.io/profile/sjwhelpley -->
    <!-- CSS battle url -->
  </section>
</Layout>

<style>
  :root {
    --lightblue: #edf6f9;
    --medblue: #83c5be;
    --darkblue: #006d77;
    --lightpink: #ffddd2;
    --darkpink: #e29578;
    --darkbackground: #37323e;
  }
  .about {
    margin: 20px 0px;
  }
  .about-info {
    width: 100%;
  }
  .content {
    width: 80%;
    margin: 0 auto;
  }
  .call-out {
    background-color: var(--lightpink);
    color: var(--darkbackground);
    text-align: center;
    margin: 20px 0px;
    padding: 20px;
  }
  #about-pic {
    width: 50%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
  @media only screen and (min-width: 1100px) {
    #about-pic {
      float: left;
      height: var(--imageHeight);
      width: auto;
      margin: 20px;
    }
  }
  .about-info p {
    margin: 10px 0px;
  }
</style>
