---
import Layout from "../layouts/Layout.astro";
import SocialMedia from "../components/SocialMedia.astro";
import Card from "../components/Card.astro";

import spotify from "../img/spotify.png";
import prioritask from "../img/prioritask.png";
import explore from "../img/explore-preview.png";
import nourishd from "../img/nourishd.png";
import bnb from "../img/bnb-consumer.png";
import calc from "../img/calc.png";
import MyTypingAnimation from "../components/TypingAnimation";
---

<Layout title="Samantha Whelpley">
  <section class="c12 intro">
    <h1>Hey, I'm Sam!</h1>
    <MyTypingAnimation client:load />

    <SocialMedia />
  </section>
  <div class="content">
    <main class="c12 portfolio">
      <Card
        title="Themed Calculator"
        subtitle="FrontendMentor"
        body="React application using CSS variables to handle multiple themes."
        skills="React // CSS // Vercel"
        src={calc}
        github="https://github.com/sjwhelpley/frontendmentor-calculator-app"
        externalLink="https://frontendmentor-calculator-r3813x2ib-samantha-whelpleys-projects.vercel.app/"
        leftImage={true}
      />
    </main>
  </div>
</Layout>

<style>
  .intro {
    text-align: center;
  }
  .intro-details {
    line-height: 1.5em;
    margin: 10px 0 10px 0;
  }
  .heading {
    text-align: center;
    font-size: 18px;
  }
  .highlight {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 109, 119, 0.1) 50%
    );
    display: inline;
  }
  .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  .content {
    width: 80%;
    margin: 0 auto;
  }
</style>
