---
import Layout from "../layouts/Layout.astro";

const url = Astro.url.origin;
---

<Layout title='Resume - Samantha Whelpley'>
  <section class='c12 intro'>
    <h1 class='intro-title'>Resume</h1>
    <h2 class='intro-details'>
      Download it <a
        class='highlight'
        href='https://drive.google.com/file/d/1UUBhiEDCTwcNKge1NSQqcla8IIgaOBgd/view?usp=sharing'
        target='_blank'>here.</a
      >
    </h2>
  </section>
  <main class='c8-center resume'>
    <h3>Education</h3>
    <h2>University of Pittsburgh</h2>
    <p>B.S. Information Science | April 2021</p>
    <br />
    <p>Concentration in Human-centered Computing</p>
    <p>Minor in Computer Science, Certificate in Digital Media</p>
    <p>GPA: 3.8/4.0</p>

    <h2>iXperience</h2>
    <p>Cape Town, South Africa | June 2019 - August 2019</p>
    <br />
    <p>
      6-week study abroad program studying Full-Stack Coding and completing an
      internship
    </p>
    <p>
      Coursework included independent project building <a
        class='highlight'
        href={`${url}/portfolio/bnb`}>full-stack Angular applications</a
      >
    </p>
    <p>University of Virginia accredited</p>

    <h3>Experience</h3>

    <h2>VISIMO</h2>
    <p>Software Developer I | May 2021 - Present</p>
    <br />
    <p>More details to come.</p>

    <h2>University of Pittsburgh<br />School of Computing and Information</h2>
    <p>WiCS Web Developer | November 2020 - May 2021</p>
    <br />
    <p>
      Redesigned and built the website for Pitt's Women in Computer Science
      club! View the finished product here: <a
        class='highlight'
        href='https://wics.cs.pitt.edu/'>wics.cs.pitt.edu</a
      >
    </p>

    <h2>Pittsburgh Quantum Institute</h2>
    <p>Computer Technician | October 2020 - May 2021</p>

    <h2>RedTree Web Design</h2>
    <p>Web Design Intern | May 2020 - August 2020</p>
    <br />
    <p>
      Designed and developed <a class='highlight' href={`${url}/portfolio/prioritask`}
        >prioriTask</a
      >, a responsive task management web application using Adobe XD and React.
    </p>

    <h2>Responsival</h2>
    <p>Design Assistant | May 2020 - August 2020</p>
    <br />
    <p>
      Created a case study for designing a platform <a
        class='highlight'
        href={`${url}/portfolio/explore`}>Explore National Parks</a
      >, a web application for trip tracking and organizing information on
      America's National Parks.
    </p>

    <h2>Nourish'd</h2>
    <p>Full-Stack Developer Intern | June 2019 - September 2019</p>
    <br />
    <p>
      Collaborated with five other interns to develop <a
        class='highlight'
        href={`${url}/portfolio/nourishd`}
        >Nourish'd Café and Juicery's cross-platform mobile app</a
      > using the Ionic v4 framework and Shopify Storefront API with Node.js and
      GraphQL.
    </p>

    <h3>Skills</h3>
    <h2>Languages</h2>
    <div class='skill-list'>
      <p>HTML | CSS | JavaScript | Python</p>
    </div>

    <h2>Frameworks & Libraries</h2>
    <div class='skill-list'>
      <p>Frontend: React & React Native | Angular | Ionic | Astro.js | Vite</p>
      <p>State Management: Redux | Apollo Client v3</p>
      <p>Testing: Jest | Enzyme | React Testing Library | Vitest</p>
      <p>Design: MUI | Bootstrap</p>
      <p>Backend: Flask | Django | Express | GraphQL</p>
    </div>

    <h2>Tools</h2>
    <div class='skill-list'>
      <p>Programming: Visual Studio Code | Git | Sublime Merge</p>
      <p>Design: Adobe CC (XD, Illustrator, Premiere Pro) | Figma</p>
    </div>

    <h3>Activities</h3>
    <h2>
      <a href='https://www.pittkappathetapi.com/home'
        >Kappa Theta Pi (professional technology fraternity)</a
      >
    </h2>
    <p>Development Team Member | March 2019 - April 2021</p>
    <br />
    <p>
      Participated in technology career-oriented events and at least 10 community
      service hours each semester
    </p>
    <p>
      Worked on the Dev Team to improve chapter website used for attendence and
      recording membership requirements. Built using React, Node.js, Express.js,
      and MongoDB.
    </p>

    <h2>
      <a href='http://pittband.com/index.aspx'
        >University of Pittsburgh Varsity Marching Band</a
      >
    </h2>
    <p>
      Piccolo Section Leader (2020), Squad Leader (2019) | August 2017 - April
      2021
    </p>
    <br />
    <p>
      Was responsible for leading a section of 30+ members, ensuring quality control
      and marching consistency during practice and performances and being a main
      point of contact with band leadership.
    </p>
    <p>
      Practiced over 8 hours a week and participate in at least 10 performances
      during the Fall semester.
    </p>

    <h2>
      <a href='https://tbspitt.wixsite.com/gammaomega'
        >Tau Beta Sigma (national band service sorority)</a
      >
    </h2>
    <p>
      Member, Focus on Five Committee Head (2019) | August 2018 - April 2021
    </p>
    <br />
    <p>
      Participated in at least four service and fundraising events for our bands
      and local community each semester.
    </p>
    <p>
      Planned events that promoted leadership, music appreciation, and diversity,
      specifically for women in the music profession.
    </p>
  </main>
</Layout>

<style>
  .intro {
    text-align: center;
  }
  .intro-title {
    font-weight: normal;
    width: 75%;
    text-align: center;
    margin: 0 auto;
  }
  .intro-details {
    line-height: 1.5em;
    margin: 10px 0 10px 0;
  }
  .resume {
    width: 80%;
    margin: 0 auto;
  }
  .resume-link {
    text-decoration: underline;
  }
  .resume h2 {
    padding: 10px 0 5px 0;
  }
  .resume h3 {
    padding: 30px 0 5px 0;
  }
  .resume p {
    margin-bottom: 10px;
  }
  .skill-list {
    display: flex;
    flex-direction: column;
  }
  .left-column {
    flex: 50%;
  }
  .right-column {
    flex: 50%;
  }
</style>
