---
import ThemeToggle from "./ThemeToggle.astro";

const pathname = Astro.url.pathname;
const url = Astro.url.origin;
---

<header class="c12 header">
  <h2 class="name"><a href={`${url}`}>{"<"}SamanthaJoyWhelpley {"/>"}</a></h2>

  <nav class="nav-bar">
    <h3 class="nav-links">
      <a class={pathname === "/" ? "active" : ""} href={`${url}`}>WORK</a>
    </h3>
    <h3 class="nav-links">
      <a
        class={pathname.includes("about") ? "active" : ""}
        href={`${url}/about`}>ABOUT</a
      >
    </h3>
    <h3 class="nav-links">
      <a
        class={pathname.includes("resume") ? "active" : ""}
        href={`${url}/resume`}>RESUME</a
      >
    </h3>

    <ThemeToggle />
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    line-height: 4em;
    width: 90%;
    margin: 0 auto;
  }
  .name {
    font-family: "Chivo Mono", serif;
    margin: 0;
    width: fit-content;
  }
  .active {
    border-bottom: 1px solid var(--darkpink);
  }
  .hover {
    opacity: 1;
    transition: opacity linear 0.2s;
  }
  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    font-weight: normal;
    text-transform: none;
    color: var(--text-color);
    margin: 0px 16px;
    font-family: "Chivo Mono", serif;
  }
  @media only screen and (max-width: 400px) {
    .name {
      font-size: 1.5rem;
    }
    .nav-links {
      font-size: 1.25rem;
    }
  }

  @media only screen and (min-width: 1100px) {
    header {
      flex-direction: row;
      align-items: unset;
      justify-content: space-between;
    }
    .name {
      font-size: 1.5rem;
    }
    .nav-bar {
      width: fit-content;
    }
    .nav-links {
      font-size: 1.25rem;
      display: inline;
    }
  }
</style>
