<div class='social-media'>
  <h3>
    <a href='mailto:sjwhelpley@hotmail.com'>EMAIL</a>
    <a
      href='https://www.linkedin.com/in/samanthawhelpley/'
      target='_blank'
      rel='noopener'>LINKEDIN</a
    >
    <a href='https://github.com/sjwhelpley' target='_blank' rel='noopener'
      >GITHUB</a
    >
  </h3>
</div>

<style>
  h3 {
    margin-bottom: 0px;
  }
  .social-media {
    text-align: center;
    line-height: 3rem;
  }
  .social-media a {
    margin-right: 20px;
    border-bottom: 0.5px solid black;
    transition: color linear 0.2s;
  }
  .social-media a:hover {
    color: #006d77;
    transition: color linear 0.2s;
  }
</style>
