---
import moment from "moment";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div style="width: 80%; margin: 0 auto;">
    <div style="display: flex; flex-direction: row; justify-content: center;">
      <img
        src={`/assets/${frontmatter.image.name}`}
        alt={frontmatter.image.alt}
        style="max-height: 25vh; margin: 0 auto;"
      />
    </div>
    <h1>{frontmatter.title}</h1>
    <h3>Posted on {moment(frontmatter.pubDate).format("MMMM Do, YYYY")}</h3>
    <slot />
  </div>
</Layout>
