---
import Layout from "../../layouts/Layout.astro";
---

<Layout title='Explore - samantha Whelpley'>
  <section class='c12 intro'>
    <h1 class='intro-title'>🌲 Explore National Parks</h1>
    <h2 class='intro-details'>
      National Park travel resource and trip tracker designed and prototyped
      with Adobe XD.
    </h2>
    <h3>Responsival</h3>
    <a
      href='https://xd.adobe.com/view/ca54dd85-faad-46f9-8f30-e9e5e70518f4-9f07/'
      target='_blank'><i class='icon-margin fas fa-object-group fa-3x'></i></a
    >
  </section>

  <main class='c8-center portfolio-page'>
    <div class='slides-container'>
      <iframe
        src='https://docs.google.com/presentation/d/e/2PACX-1vQEuU-NHwiLBhgBAQrWNm_fxMS0s-bMTXBn4tIeYo9sha-PqYENFbyBocCf8z1QomXSsK5O7qLNCDdX/embed?start=false&loop=false&delayms=3000'
        width='480'
        height='299'
        allowfullscreen='true'></iframe>
    </div>

    <h3>Overview</h3>
    <p>
      I worked with Responsival the summer of 2020 as a Design Assistant and was
      able to work on a personal project under their mentorship. I love
      traveling to National Parks, so I decided to design a website that would
      collect resources on each National Park and allow users to track their
      trips. Users would be able to bookmark resources so that they could easily
      get back to them later, which would be great for general research or trip
      planning purposes.
    </p>

    <h3>Tools</h3>
    <p>
      I used Adobe XD to create the wireframes and prototype. Adobe Illustrator
      was used for designing the logos, and Canva was used to create the
      marketing collateral.
    </p>

    <h3>Timeline</h3>
    <p>May to August 2020 (3 months)</p>

    <hr />

    <h3>Description</h3>
    <p>
      During this summer internship, each week I had a new assignment to that
      helped me work towards completing my project. More details and
      deliverables from this process are available in the embedded Google Slides
      above.
    </p>

    <h3>Next Steps</h3>
    <ul class='list'>
      <li>Work on the responsive designs (mobile view).</li>
      <li>
        Fill design with more content as well as more realistic content in order
        to give a better idea of what the website would be like.
      </li>
      <li>Add more interactivity to the prototype.</li>
    </ul>
  </main>
</Layout>

<style>
  .intro {
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }
  .portfolio-page {
    padding: 20px;
  }
  .portfolio-page h3,
  .portfolio-page h4 {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .portfolio-page a {
    color: var(--darkblue);
  }
  .portfolio-page figcaption {
    font-size: 1rem;
    font-style: italic;
  }
  .portfolio-img {
    text-align: center;
    margin: 10px;
    padding-top: 10px;
  }
  .portfolio-img img {
    width: 100%;
  }
  .slides-container {
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
    text-align: center;
  }
  .slides-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
